<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/menu.ejs") %>

    <h2>Login</h2>
    
    <p><strong>IMPORTANTE:</strong> Debes ingresar un mail y una password que exista en la DB para hacer la session</p>
       
      <form action="/users/login" method="POST">
       
        <section>
          <label for="">Email: </label>
          <input type="email" name="email" placeholder="email">
        </section>
        <section>
          <label for="">Password:</label>
          <input type="password" name="password" placeholder="password">
        </section>
         <section>
          <label for="">Recordarme:</label>
          <input type="checkbox" name="recordarme">
          
        </section>
        <button type="submit">Login</button>
      </form>

  </body>
</html>
