<h2>Menú</h2>
<p>Navegá usando las opciones de la lista.</p>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Películas</a></li>
    <br>
    <li><a href="/users/register">Registrate</a></li>
    <li><a href="/users/login">Login</a></li>
</ul>

<h2>Buscar películas</h2>
<p>Creá un formulario para buscar películas</p>
<form action="/movies/search-results" method="GET">
    <input type="text" name="search" value="">
    <button type="submit">Buscar</button>
</form>